<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRails</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_pack_tag 'webpack-bundle' %>

  </head>
  <div>
    <nav class="navbar navbar-light nav" style="background-color: #4e97ad;">
      <%= link_to 'Add todo', todos_index_path, class: "link-to-nav" %>
      <%= link_to 'Edit profile', edit_user_registration_path, class: "link-to-nav" %>
      <%= link_to 'Sign out',  destroy_user_session_path,  class: "link-to-nav" , :method => :delete%>


    </nav>
  </div>

  <body>
    <%= yield %>
  </body>
</html>