<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRails</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_pack_tag 'webpack-bundle' %>
  </head>

    <%= render 'layouts/header'%>

  <div id="modal-holder"></div>

  <body>
    <%= yield %>

  </body>

    <%= render 'layouts/footer'%>

</html>